.blogs-page {
    padding: 50px;
    max-width: 1000px;
    margin: auto;
}

.blogs-page h1 {
    text-align: center;
    margin-bottom: 40px;
}

/* GRID */
.blog-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

/* CARD */
.blog-card {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.blog-card h2 {
    margin-bottom: 10px;
    color: #0b3d2e;
}

.blog-card p {
    color: #555;
    line-height: 1.6;
}

.blog-card:hover {
    transform: translateY(-5px);
}
.back-btn{
background:#0f3d2e;
color:white;
border:none;
padding:12px 22px;
border-radius:8px;
font-size:16px;
font-weight:600;
cursor:pointer;
margin-bottom:30px;
transition:.3s;
}

.back-btn:hover{
transform:translateY(-2px);
background:#14532d;
}
.blog-link{
display:inline-block;
margin-top:10px;
color:#f4a300;
font-weight:600;
text-decoration:none;
}

.blog-link:hover{
text-decoration:underline;
}